###############################################################################
# NOC Tools
# ShellCheck Configuration
###############################################################################

# External source directories
source-path=SCRIPTDIR
